# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Flask/SQLAlchemy/Migrate files
instance/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
*.sqlite3
*.db

# Alembic / Flask-Migrate
migrations/versions/*.pyc
migrations/*.pyc
migrations/__pycache__/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Railway build artifacts
railway.json